# .env.example
DB_URL=jdbc:postgresql://localhost:5432/his_security
DB_USERNAME=uexample
DB_PASSWORD=pfake123
JWT_SECRET=secretkeyjwtfake
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
